<mat-drawer-container class="container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <a mat-button routerLink="/">Home</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a mat-button routerLink="/posts">Postagens</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a mat-button routerLink="/albums">Albuns</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a mat-button routerLink="/todos">To-dos</a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    
    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Test FRWK</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

</mat-drawer-container>
