#section-home{
    background-image: url(https://frwk.com.br/assets/img/novo_site/home_siteframework01.jpg);
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    z-index: 2;
    height: 100%;
    width: 100%;
}